@import '../../assets/styles/theme';

.taskList {
  ul {
    margin: 0;
    padding: 0;
    border: 1px solid #333;
  }
  li {
    margin: 0;
    list-style: none;
    padding: $baseline;
    border-bottom: 1px solid #333;
    cursor: pointer;
  }
}
